<div class="modal fade" id="deleteCommentModal{{ comment.id }}" tabindex="-1"
    aria-labelledby="deleteCommentModalComment{{ comment.id }}" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCommentModalComment{{ comment.id }}">Delete Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Are you sure you want to permanently delete this comment, posted on the event <span
                            class="font-italic">{{ comment.event }}</span>?</strong></p>
                <div class="col-10 offset-1 my-4 py-2">
                    <div class="mt-2 small">
                        <p class="mb-0">{{ comment.author }}</p>
                        <p class="text-muted">{{ comment.created_on }}</p>
                        {{ comment.comment| linebreaks }}
                    </div>
                </div>
                <p>If you are sure you want to delete the comment, then press Delete Comment below. Otherwise, Cancel to
                    go back.</p>
                <p><strong>This action cannot be undone.</strong></p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn general-btn-1 data-dismiss=" modal">Cancel</button>
                <form class="d-inline" action="{% url 'delete_comment' comment.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" value="{{ comment.id }}" name="comment_id" class="btn general-btn">Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>