<div class="row pb-3 align-items-center justify-content-end">
    <div class="col-12 col-md-6 col-lg-4">
        <select id="sorting-selector" class="custom-select custom-select-sm rounded-0" aria-label="Sorting options">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>event name (A-Z)</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>event name (Z-A)
            </option>
            <option value="date_asc" {% if current_sorting == 'date_asc' %}selected{% endif %}>Date (earliest to latest)
            </option>
            <option value="date_desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>Date (latest to
                earliest)</option>
        </select>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="dropdown">
            <a class="btn btn-brand-dark-outline w-100 d-flex align-items-center justify-content-between" href="#"
                id="filterByCounty" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                data-display="static">
                <span>Filter by county...</span>
                <i class="fas fa-chevron-" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu county-dropdown" aria-labelledby="filterByCounty">
                {% if on_my_events_page %}
                {% url 'my_events' as page_url %}
                {% else %}
                {% url 'events' as page_url %}
                {% endif %}

                <a class="dropdown-item{% if not current_county %} active{% endif %}"
                    href="{{ page_url }}{% if current_view == 'past' %}?view=past{% endif %}">All</a>

                {% for event in all_events %}

                {% ifchanged %}

                <a class="dropdown-item{% if event.county.name == current_county.name %} active{% endif %}"
                    href="{{ page_url }}?{% if current_view == 'past' %}view=past&{% endif %}county={{event.county.name}}">{{ event.county.friendly_name }}</a>

                {% endifchanged %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        {% if not request.user.is_superuser %}
        {% if not on_my_events_page %}

        <div class="row pb-2">
            <div class="col-12 text-right">
                {% if current_view == 'past' %}
                <a href="{% url 'events' %}" class="btn general-btn ml-md-auto">View Upcoming events</a>
                {% else %}
                <a href="{% url 'events' %}?view=past" class="btn general-btn ml-md-auto">View Past events</a>

                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-muted font-90 mt-3">
            {{ events|length }} event{% if events|length != 1 %}s{% endif %}
            {% if current_county %}
            <strong>{{ current_county.get_friendly_name }}</strong>
            {% else %}in this area.
            {% endif %}
        </p>
    </div>
</div>