{% extends "base.html" %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}
{% block extra_title %} | Add Event{% endblock %}

{% block content %}
<section class="container">
    <div class="row pt-3">
        <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 pt-5 mb-3">
            <h1 class="mb-4 page-title text-center">Events Management</h1>
            <sp>Complete the form below to <strong>ADD </strong>a new event to the events page.
                The event will be immediately visible in the events page after submitting the form.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
            <form method="POST" action="{% url 'add_event' %}" class="brand-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-wrapper">
                    {% for field in form %}
                    {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="text-center pt-3 pb-5">
                    <a class="btn general-btn-1" href="{% url 'events' %}">Back to events</a>
                    <button class="btn general-btn" type="submit">Add event</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'events/js/form_validation.js' %}"></script>
{% endblock %}