{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block extra_title %} | Edit event {{ event.name }} on {{ event.date }}{% endblock %}

{% block content %}
<section class="container">
    <div class="row pt-3">
        <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 pt-1 pb-3">
            <h1 class="mb-4 page-title line text-center">Events Management</h1>
            <small>Add the changes in the form below to <strong>UPDATE</strong> the event details for
                <strong>"{{ event.name }}"
                    on {{ event.date }}</strong>. Updates will take effect immediately after you submit the form, and
                the updated event will be visible
                in the events page for users.</small>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
            <form method="POST" action="{% url 'edit_event' event.id %}" class="brand-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-wrapper">
                    {% for field in form %}
                    {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="text-center pt-3 pb-5">
                    <a class="btn general-btn-1" href="{% url 'events' %}">Back to events</a>
                    <button class="btn general-btn" type="submit">Update event</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'events/js/form_validation.js' %}"></script>
{% endblock %}