{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block extra_title %} | Edit Comment on {{ event.name }}{% endblock %}

{% block content %}

<section class="container">
    <div class="row ">
        <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 pt-5">
            <h1 class="mb-4 page-title text-center">Edit your comment</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 ">
            <small>Make the changes to your comment as needed and submit using the "Update Comment" button.</small>
            <small>You are editing a comment posted on <span class="fw-600">{{ comment.created_on }}</span> on the event
                <span class="fw-600">"{{ event.name }} on {{ event.date }}"</span></small>
            <small>If you want to delete the comment completely, do this using the Delete link underneath the comment on
                the
                <a href="{% url 'event_details' event.id %}" class="text-link">event details page</a> instead.</small>
            <form method="POST" action="{% url 'edit_comment' comment.id %}" class="brand-form mt-4">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center pt-3 pb-4">
                    <a class="btn general-btn-1" href="{% url 'event_details' event.id %}">Cancel</a>
                    <button class="btn general-btn" type="submit">Update Comment</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}