{% extends "base.html" %}
{% load static %}

{% block extra_meta %}

<meta name="description"
    content="Book club session to instigate meaningful and inspiring conversions among book lovers, in Dublin, who also love to socialize.">
<meta name="keywords"
    content="events, book club events, book club session, local book clubs, irish book clubs, book clubs dublin, book club meetings">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block extra_title %} | Events in {% if current_county %} {{ current_county.friendly_name }}
{% else %}Ireland{% endif %}{% endblock %}

{% block content %}
<section class="container-fluid pb-5 pb-sm-2 ">
    <div class="row ">
        <div class="col-10 offset-1 pt-5 pb-4">
            <h2 class="page-title h3">
                {% if current_view == 'past' %}<span>Past{% elif request.user.is_superuser %}All{% else %}Upcoming{% endif %}
                    Events</span></h2>
        </div>
        {% if current_view == 'past' %}
        <div class="col-10 offset-1">
            <p>You are currently viewing <strong>past events.</strong></p>
            <p>Unfortunaly, you will not be able to save these events as they are past events.<br><br> Please check
                our Upcoming events page</p>
        </div>
        {% else %}
        <div class="col-10 offset-1 col-lg-5 text-justify mb-2">
            <p class="event-summary">We love to get together to discuss and instigate meaningful conversations about
                books, among other
                things. If it is also your cup of tea, please feel free to join us.</p>
            <p class="event-summary"> Every month, sometimes more than
                once, we select a book and gathered to talk about it. The events usually happen in a cafe, park and here
                at House of Books. It is a nice opportunity to share our perspectives and opinions while also
                socializing.</p>
        </div>
        <div class="col-10 offset-1 col-lg-5 offset-lg-0  ">
            <p class="event-summary">We organise events regularly, so keep an eye for any new events!
                And if you do not want to miss anything, <a class="text-link" href="#mc_embed_signup">sign up </a>to
                our newsletter and keep yourself updated with all the juice stuff.</p>
            <p class="event-summary">You can also keep in touch with us through our social media.Do not hesitate to
                contact us, if you
                have any feedback or suggestions. </p>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-10 offset-1 mb-2">
            {% include '../events/includes/events_sort_and_filter.html' %}
            <div class="row mt-3">
                {% for event in events %}
                <div class="col-sm-12 col-md-6 col-lg-4 card-group mt-4">
                    <div class="card h-100 border-0">
                        <a href="{% url 'event_details' event.id %}">
                            {% if event.image %}
                            <img class="img-fluid" src="{{ event.image.url }}" alt="{{ event.name }}" width="350"
                                height="250">
                            {% else %}
                            <img class="img-fluid" src="{{ MEDIA_URL }}default.png" alt="{{ event.name }}" width="350"
                                height="250">
                            {% endif %}
                        </a>
                        <div class="card-body pb-0 px-1 px-md-2">
                            <p class="card-title ">{{ event.month_book }}</p>
                            <p>By: {{ event.book_author }}</p>
                            <p class="small">
                                <a href="{% url 'events' %}?county={{event.county.name}}" class="text-muted">
                                    <i class="bi bi-geo-alt-fill icon" aria-hidden="true"></i>
                                    {{ event.county.friendly_name }}
                                </a>
                            </p>
                            <p class="details-event">Location: {{ event.location }}</p>
                            <p class="details-event">Date: {{ event.date }}</p>
                            <p class="details-event"> Time: {{ event.start_time }} to
                                {{ event.end_time }}</p>
                            {% if current_view != 'past' %}
                            {% if request.user.is_authenticated %}

                            <form action="{% url 'update_my_events' event.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" value="{{ event.id }}" name="event_id"
                                    class="bg-transparent border-0 p-0 my-2 small">
                                    {% if event in saved_events_list.event.all %}
                                    <i class="bi bi-heart-fill icon" aria-hidden="true"></i>
                                    <span class="text-muted"> Remove from My Events</span>
                                    {% else %}
                                    <i class="bi bi-heart icon" aria-hidden="true"></i>
                                    <span class="text-muted"> Save to My Events</span>
                                    {% endif %}
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                            {% else %}
                            <p class="small text-muted my-2"><i class="bi bi-heart icon" aria-hidden="true"></i> <a
                                    class="text-link" href="{% url 'account_login' %}"> Login</a> to save it.
                            </p>
                            {% endif %}
                            {% endif %}
                            <a href="{% url 'event_details' event.id %}" class="small"
                                aria-label="go to event details page to view comments or add comment">
                                {% if event.comments.all|length > 0 %}
                                <span class="text-muted"><i class="bi bi-chat-dots-fill"></i>
                                    {{ event.comments.all|length }}
                                    comment{% if event.comments.all|length > 1 %}s{% endif %}</span>
                                {% else %}
                                <i class="bi bi-chat-dots"></i>
                                <span class="text-muted"> Be the first to comment</span>
                                {% endif %}
                            </a>
                            {% if current_view == 'past' %}
                            <p class="font-90 mt-2 mb-1"><span class="fw-600">Status:</span>
                                <span class="font-90"><i class="bi bi-exclamation-circle-fill icon"
                                        aria-hidden="true"></i> Date has passed.
                                </span>
                            </p>
                            {% endif %}
                            {% if request.user.is_superuser %}
                            <p class="mt-2 mb-1 superadmin"><strong>Status: </strong>
                                <span>{% if event.date_passed %}
                                    <i class="bi bi-exclamation-circle-fill icon" aria-hidden="true"></i> Date has
                                    passed {% else %} Upcoming {% endif %}
                                </span>
                            </p>

                            <p class="mb-1 superadmin"><strong>Number of saves: </strong>
                                <span>
                                    {% for key, value in events_saves.items %}
                                    {% if event.id == key %}
                                    {{ value }}
                                    {% endif %}
                                    {% endfor %}
                                </span>
                            </p>
                            <p class="pt-2 superadmin">Admin actions: </p>
                            <div class="admin-link-container">
                                <div class="row update-btn">
                                    <div class="col">
                                        <button class="delete-edit-button edit mt-1"><a
                                                href="{% url 'edit_event' event.id %}">
                                                Edit</a></button>
                                    </div>
                                    <div class="col">
                                        <button class="delete-edit-button delete mt-1"><a
                                                href="#deleteeventModal{{ event.id }}" data-toggle="modal">
                                                Delete</a></button>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                        {% include '../events/includes/delete_event_modal.html' %}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">

                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-sm-block d-md-block mb-5">
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0">
        <a class="btt-link d-flex h-100 justify-content-center align-items-center" aria-label="Back to top">
            <i class="bi bi-arrow-up" aria-hidden="true"></i>
        </a>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}