{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<!-- specific meta description and keywords for events -->
<meta name="description"
    content="Book club session to instigate meaningful and inspiring conversions among book lovers, in Dublin, who also love to socialize.">
<meta name="keywords"
    content="events, book club events, book club session, local book clubs, irish book clubs, book clubs dublin, book club meetings">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block extra_title %} | events in {% if current_county %} {{ current_county.friendly_name }}
{% else %}Ireland{% endif %}{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row pt-md-2 pb-3 ">
        <div class="col-10 offset-1 pt-5 pb-4">
            <h1 class="page-title">
                {% if current_view == 'past' %}<span>Past{% elif request.user.is_superuser %}All{% else %}Upcoming{% endif %}
                    events</span></h1>
        </div>
        {% if current_view == 'past' %}
        <div class="col-10 offset-1">
            <p>You are currently viewing <strong>past events.</strong>
                <p>Unfortunaly, you will not be able to save these events as they are past events.<br><br> Please check
                    our
                    <a href="{% url 'events' %}" class="text-link">Upcoming events page</a>.</p>
        </div>
        {% else %}
        <div class="col-10 offset-1 col-lg-5">
            <p>These are book club events. Every month we select a book to read and organize a small gathering to
                discuss and instigate meaningful conversations, while also socializing.</p>
            <p>This events happen in different places around Dublin, usually in parks and cafes. It is a good
                opportunity also to explore Dublin and discover new hidden gems. We love to support local business as
                us, so if you know the perfect place, do not hesite to share with us!</p>
        </div>
        <div class="col-10 offset-1 col-lg-5 offset-lg-0 ">
            <p>We update our list of events regularly, so check back for updates!</p>
            <p>To make sure you don't miss out, you can <i class="bi bi-heart icon pr-0" role="img"
                    aria-label="save"></i>save the events you are interested in. You can then view it in the <a
                    href="{% url 'my_events' %}" class="text-link">My
                    Events page</a> in your Account. If you don't have an account yet, you can easily register<a
                    class="text-link" href="{% url 'account_signup' %}"> here</a>.</p>
            <p class="">You can also <a class="text-link" href="#mc_embed_signup">sign up to our
                    newsletter</a> to keep yourself
                update.</p>
        </div>

        {% endif %}
    </div>

    <div class="row">
        <div class="col-10 offset-1">
            {% include '../events/includes/events_sort_and_filter.html' %}
            <!-- events row -->
            <div class="row mt-3">
                {% for event in events %}
                <!-- each event displayed in a card within columns -->
                <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 card-group">
                    <div class="card h-100 border-0">
                        <!-- event image links to the event details page -->
                        <a href="{% url 'event_details' event.id %}">
                            <!-- if there is no image, then src is the default image, and alt text changes accordingly -->
                            {% if event.image %}
                            <img class="img-fluid" src="{{ event.image.url }}" alt="{{ event.name }}">
                            {% else %}
                            <img class="img-fluid" src="{{ MEDIA_URL }}default.png" alt="{{ event.name }}">
                            {% endif %}
                        </a>
                        <!-- card body - event details -->
                        <div class="card-body pt-3 pb-0 px-1 px-md-2">
                            <p class="card-title mb-0 text-uppercase">{{ event.name }}</p>
                            <p class="small mt-1 mb-2">
                                <!-- county name - also links to filter all events by that county -->
                                <a href="{% url 'events' %}?county={{event.county.name}}" class="text-muted">
                                    <i class="bi bi-geo-alt-fill icon"
                                        aria-hidden="true"></i>{{ event.county.friendly_name }}
                                </a>
                            </p>
                            <p class="small mb-2">{{ event.location }}</p>
                        </div>
                        <!-- card footer event date/teim + button to save event if logged in, and link for comments -->
                        <div class="card-footer border-0 bg-white p-1 px-md-2 mb-4">
                            <p class="fw-600 mb-1">{{ event.date }}</p>
                            <p class="fw-600 font-90 mb-2">{{ event.start_time }} to {{ event.end_time }}</p>
                            {% if current_view != 'past' %}
                            <!-- only show the buttons to save the event if not viewing past events -->
                            {% if request.user.is_authenticated %}
                            <!-- if logged in and not viewing past events, buttons to save/remove event -->
                            <form action="{% url 'update_my_events' event.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" value="{{ event.id }}" name="event_id"
                                    class="bg-transparent border-0 p-0 my-2 small">
                                    {% if event in saved_events_list.event.all %}
                                    <i class="bi bi-heart-fill icon" aria-hidden="true"></i>
                                    <span class="text-muted">Remove from My events</span>
                                    {% else %}
                                    <i class="bi bi-heart icon" aria-hidden="true"></i>
                                    <span class="text-muted">Save to My events</span>
                                    {% endif %}
                                </button>
                                <!-- hidden input with url path, so view can redirect back to same page -->
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                            {% else %}
                            <!-- if not logged in, links to sign in/sign up to save event -->
                            <p class="small text-muted my-2"><i class="bi bi-heart icon" aria-hidden="true"></i><a
                                    class="text-link" href="{% url 'account_login' %}">Sign In</a> or <a
                                    class="text-link" href="{% url 'account_signup' %}">Sign Up</a> to save to My
                                events.
                            </p>
                            {% endif %}
                            <!-- end of if statement for if user is authenticated -->
                            {% endif %}
                            <!-- end of if statement for if not viewing past events -->
                            <!-- Comments: links to details page to view comments. Show number of comments if there are any -->
                            <a href="{% url 'event_details' event.id %}" class="small"
                                aria-label="go to event details page to view comments or add comment">
                                {% if event.comments.all|length > 0 %}
                                <i class="bi bi-chat-left-fill icon" aria-hidden="true"></i>
                                <span class="text-muted">{{ event.comments.all|length }}
                                    comment{% if event.comments.all|length > 1 %}s{% endif %}</span>
                                {% else %}
                                <i class="bi-chat-left icon" aria-hidden="true"></i>
                                <span class="text-muted">Be the first to comment</span>
                                {% endif %}
                            </a>
                            {% if current_view == 'past' %}
                            <!-- If viewing past events, show the status -->
                            <p class="font-90 mt-2 mb-1"><span class="fw-600">Status:</span>
                                <span class="font-90"><i class="bi bi-exclamation-circle-fill icon"
                                        aria-hidden="true"></i>Date has passed
                                </span>
                            </p>
                            {% endif %}
                            {% if request.user.is_superuser %}
                            <!-- superuser can view all events so show status -->
                            <p class="font-90 mt-2 mb-1"><span class="fw-600">Status:</span>
                                <span class="font-90">{% if event.date_passed %}
                                    <i class="bi bi-exclamation-circle-fill icon" aria-hidden="true"></i>Date has
                                    passed {% else %} Upcoming {% endif %}
                                </span>
                            </p>
                            <!-- show number of saves the event has, for admin user -->
                            <p class="font-90 mb-1"><span class="fw-600">Number of saves:</span>
                                <span class="font-90">
                                    {% for key, value in events_saves.items %}
                                    {% if event.id == key %}
                                    {{ value }}
                                    {% endif %}
                                    {% endfor %}
                                </span>
                            </p>
                            <!-- admin actions - edit/delete, if user is admin user -->
                            <div class="admin-link-container">
                                <div class="row mx-0">
                                    <h5 class="fw-600 font-90">Admin actions:</h5>
                                </div>
                                <div class="row mx-0">
                                    <div class="col-6 px-0">
                                        <a class="small admin-link" href="{% url 'edit_event' event.id %}">Edit
                                            Details</a>
                                    </div>
                                    <div class="col-6 px-0">
                                        <a class="small admin-link" href="#deleteeventModal{{ event.id }}"
                                            data-toggle="modal">Delete event</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <!-- end of if statement for superuser -->
                        </div>
                        {% include '../events/includes/delete_event_modal.html' %}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">

                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">

                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">

                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">

                </div>
                {% endif %}
                {% endfor %}
                <!-- end of events for loop -->
            </div>
            <!-- end of events row inside events container-->
        </div>
        <!-- end of outer container for events -->
    </div>
    <!-- end of events row -->
    <!-- back to top link -->
    <div class="btt-button shadow-sm rounded-0">
        <a class="btt-link d-flex h-100 justify-content-center align-items-center" aria-label="Back to top">
            <i class="bi bi-arrow-up" aria-hidden="true"></i>
        </a>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<!-- script to sort events using the select box options, and for back to top link -->
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}