{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-12 my-auto text-center">
            <h1 class="display-8 logo-font text-black home-title">
                Discover something <br>new to read!
            </h1>
            <div class="my-6">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
                <h4>
                    <a href="{% url 'products' %}?category=new_arrivals,deals"
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Special
                        Offers</a>
                </h4>

            </div>
        </div>
    </div>
</div>

{% endblock %}