{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="hero"
    style="background:url('https://img.freepik.com/free-vector/pastel-hand-painted-watercolour-background_1048-15468.jpg') no-repeat; background-size: cover;">
    <div class="container-fluid  hero-image pt-4 pb-4">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <p class="pt-5">HOUSE OF BOOKS EDITORS'</p>
                <h1 class="pt-2">
                    Featured Books of July
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="home-button buttons btn btn-md py-3">See More</a>
                    </h4>
                </div>
            </div>

            <div class="col-lg-5 col-md-5">
                <div id="carouselExample1" class="carousel slide z-depth-1-half" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block mycardbooks"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1618836549l/57111349._SY475_.jpg"
                                alt="First slide" width="350" height="450">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mycardbooks"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1622355533l/4667024._SY475_.jpg"
                                alt="Second slide" width="300" height="450">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mycardbooks"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1574805682l/22557272.jpg"
                                alt="Third slide" width="300" height="450">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1554086139l/19288043.jpg"
                                alt="fourth slide" width="300" height="450">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1380660571l/18619684.jpg"
                                alt="fifth slide" width="300" height="450">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1618293107l/55404546.jpg"
                                alt="sixth slide" width="300" height="450">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1617719279l/55842789.jpg"
                                alt="sixth slide" width="300" height="450">
                        </div>
                    </div>
                    <a class="carousel-control-prev text-black" href="#carouselExample1" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
                        <span class="sr-only text-black">Previous</span>
                    </a>
                    <a class="carousel-control-next text-black" href=" #carouselExample1" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
                        <span class="sr-only text-black">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}