{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="hero"
    style="background:url('https://i.pinimg.com/736x/a3/cd/d2/a3cdd2915d24263cc884823925c884b7.jpg') no-repeat; background-size: cover;">
    <div class="container-fluid  hero-image pt-4 pb-4">
        <div class="row">
            <div class="col-lg-7 col-md-7 ">

                <p class="pt-5">HOUSE OF BOOKS EDITORS'</p>
                <h1 class="pt-2">

                    Featured Books of the month
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="btn general-btn py-3">See More</a>
                    </h4>
                </div>

            </div>

            <div class="col-lg-5 col-md-5 d-m-none">
                <div id="carouselExample1" class="carousel slide z-depth-1-half" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block mycardbooks"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595387142l/54326395.jpg"
                                alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mycardbooks"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1622355533l/4667024._SY475_.jpg"
                                alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mycardbooks"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1574805682l/22557272.jpg"
                                alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1554086139l/19288043.jpg"
                                alt="fourth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1380660571l/18619684.jpg"
                                alt="fifth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1618293107l/55404546.jpg"
                                alt="sixth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block"
                                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1617719279l/55842789.jpg"
                                alt="sixth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev text-black" href="#carouselExample1" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
                        <span class="sr-only text-black">Previous</span>
                    </a>
                    <a class="carousel-control-next text-black" href=" #carouselExample1" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
                        <span class="sr-only text-black">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <header class="mb-5 d-md-flex justify-content-between align-items-center">
        <h3 class="font-size-7 mb-3 mb-md-0 mt-4 main-title">Featured Categories</h3>
        <a href="{% url 'products' %}" class="h-primary d-block mt-4 text-black">All Categories <i
                class="fas fa-chevron-right"></i></a>
    </header>
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="category-card">
                <div class="card-image img1">
                    <i class="bi bi-heart cat-icon"></i>
                    <br>
                    <span>Romance</span>
                    <br>
                    <button class="seemore-btn"><a href="{% url 'products' %}?category=romance" class="text-black">See
                            more</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="category-card">
                <div class="card-image img2">
                    <i class="bi bi-incognito"></i>
                    <br>

                    <span>Mystery</span>
                    <br>
                    <button class="seemore-btn"><a href="{% url 'products' %}?category=mystery" class="text-black">See
                            More </a></button>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="category-card">
                <div class="card-image img3">
                    <i class="bi bi-moon-stars"></i>
                    <br>
                    <span>Fantasy</span>
                    <br>
                    <button class="seemore-btn"><a href="{% url 'products' %}?category=fantasy" class="text-black">See
                            more</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="category-card">
                <div class="card-image img4">
                    <i class="bi bi-binoculars"></i>
                    <br>
                    <span>Thriller</span>
                    <br>
                    <button class="seemore-btn"><a href="{% url 'products' %}?category=thriller" class="text-black">See
                            more</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <header class="mb-5 d-md-flex justify-content-between align-items-center">
        <h3 class="font-size-7 mb-3 mb-md-0 mt-3 main-title">Bestselling Books</h3>
        <a href="{% url 'products' %}" class="h-primary d-block mt-3 text-black">All Books <i
                class="fas fa-chevron-right"></i></a>
    </header>
    <div class="row d-md-flex justify-content-between m-auto">
        {% for product in products %}
        <div class=" col-sm-12 col-md-3 col-lg-3">
            <div class="card  border-0 ">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="images" width="220" height="auto" src="{{ product.image }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="#">
                    <img class="images" width="220" height="auto" src="{{ MEDIA_URL }}no-image.png"
                        alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body-1">
                    <p class="books-title pt-2 text-left"><strong>{{ product.name }}</strong></p>
                    <p class="text-left authorname">By:{{ product.author}}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            {% if product.category %}
                            <p class="small tag category">
                                <a class="text-muted tag-2"
                                    href="{% url 'products' %}?category={{ product.category.name }}">
                                    {{ product.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                            <p class="font-weight-bold mostsold-price">€{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>



{% endblock %}