{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}

<section class="cart-bg">
    <div class="container pt-5">
        <h2 class="text-center mb-5">Order Received</h2>
        <div class="row order-success bg-white ">
            <div class="col">
                <div class="order-confirmation-wrapper mb-4 ">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-black text-center mt-4">Thank you. Your orcer has been received.</p>
                            <p class="text-black text-center">We also sent you a
                                confirmation email to <strong>{{ order.email }}</strong>.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <p class="mb-0 text-black font-weight-bold text-md-center">Order Number:</p>
                        <p class="mb-0 text-md-center" maxlength="10">{{ order.order_number | slice:6 }}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <p class="mb-0 text-black font-weight-bold text-md-center">Date:</p>
                        <p class="mb-0 text-md-center">{{ order.date }}</p>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <p class="mb-0 text-black font-weight-bold text-md-center">Order Total:</p>
                        <p class="mb-0 text-md-center" text-md-center>€{{ order.grand_total }}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <p class="mb-0 text-black font-weight-bold text-md-center">Payment method:</p>
                        <p class="mb-0 text-md-center">Direct bank transfer</p>
                    </div>
                </div>
                <hr>
                <p class="mb-0 text-black font-weight-bold pb-3">Order Details</p>
                <div class="row">
                    {% for item in order.lineitems.all %}
                    <div class="col-8">
                        <p class="mb-0 text-black">{{ item.product.name }} <span
                                class="mx-4">x{{ item.quantity }}</span> </p>
                    </div>
                    <div class="col-4">
                        <div class="col-12 text-right price-summary">
                            <p class="mb-0"> €{{ item.product.price }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="row pt-3">
                    <div class="col-8">
                        <p class=" mb-0 text-black font-weight-bold">Subtotal</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-0 text-right">€{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-8">
                        <p class="mb-0 text-black font-weight-bold">Shipping</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-0 text-right">€{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row pt-2 pb-3">
                    <div class="col-8">
                        <p class="mb-0 text-black font-weight-bold">Order Total</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-0 text-right">€{{ order.grand_total }}</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-6 col-sm-12 pb-4">
                        <p class="billing">Billing Address</p>
                        <p class="mb-0">{{ order.full_name }}</p>
                        <p class="mb-0">{{ order.street_address1 }}</p>
                        {% if order.street_address2 %}
                        <p class="mb-0">{{ order.street_address1 }}</p>
                        {% endif %}
                        <p class="mb-0">{{ order.town_or_city }}</p>
                        {% if order.county %}
                        <p class="mb-0">{{ order.county }}</p>
                        {% endif %}
                        {% if order.postcode %}
                        <p class="mb-0">{{ order.postcode }}</p>
                        {% endif %}
                        <p class="mb-0">{{ order.country }}</p>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <p class="billing">Shipping Address</p>
                        <p class="mb-0">{{ order.full_name }}</p>
                        <p class="mb-0">{{ order.street_address1 }}</p>
                        {% if order.street_address2 %}
                        <p class="mb-0">{{ order.street_address1 }}</p>
                        {% endif %}
                        <p class="mb-0">{{ order.town_or_city }}</p>
                        {% if order.county %}
                        <p class="mb-0">{{ order.county }}</p>
                        {% endif %}
                        {% if order.postcode %}
                        <p class="mb-0">{{ order.postcode }}</p>
                        {% endif %}
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 col-lg-12 text-center">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn buttons rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back to Profile</span>
            </a>
            {% else %}
            <a href="{% url 'products' %}?category=new_arrivals"
                class="btn btn-black rounded-0 my-2 text-center buttons mt-4 mb-2">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="return-checkout">Check out our new arrivals!</span>
            </a>
            {% endif %}
        </div>
    </div>
    </div>
</section>
{% endblock %}