@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600&display=swap');

/*html {
    height: 100%;
}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sora';
}

.hero {

    background-size: cover;
    background: linear-gradient(to bottom, #ffffff 28%, #99ccff 100%);
}

.hero-image {
    padding-left: 10rem;
    padding-right: 10rem;

}

.mycardbooks {
    width: 300px;
    height: auto;
}

hr {
    background-color: #eee;
    color: #eee;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    padding: 0.5rem 1.3rem;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-top: 2rem;
}

/*----------------- Home page -----------------------*/


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50% !important;
}

.btt-button:hover,
.btt-button:focus {
    background-color: rgb(139, 134, 134);
    border: none !important;
    color: white;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: absolute;
    top: 90px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.product-cart {
    border-bottom: 1px solid #eee;
}

/* -------------------------------- Media Queries */


/* Slightly larger container on xl screens */
@media (min-width: 2560px) {
    .hero {
        padding-left: 40rem;
        padding-right: 39rem;
    }

    .product-detail {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center !important;
        align-items: stretch;
        padding-top: 2rem !important;
        margin-left: 30rem !important;
        margin-right: 30rem !important;
    }

    .details {
        margin-right: 30rem;
    }

    .searchbar-input {
        margin-left: 35rem;
    }

    .account-icons {
        margin-right: 33rem;
    }

    .message-container {
        position: absolute;
        top: 130px !important;
        right: 35rem !important;
        z-index: 99999999999;
    }

    #payment-form {
        max-width: 60rem;
        margin-left: 30rem;
    }

    .bg-1 {
        max-width: 35rem;
        margin-right: 10rem;
    }

    .register-login-form {
        max-width: 30rem;

    }

    .add_product,
    .edit_product {
        max-width: 50rem !important;
        margin: auto !important;
        padding: 1.4rem;
    }

    .mycontainer {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .myprofilepage {
        max-width: 55rem;
        margin: auto !important;
    }

    .footer-dark {
        padding-left: 25rem !important;
        padding-right: 25rem !important;
    }


    .carousel-control-next {
        right: 30px !important;
    }

    .carousel-control-prev {
        left: -5px;
    }
}

@media (min-width: 1440px) {
    .product-detail {
        padding-left: 0rem !important;
        justify-content: center !important;
    }

    .details {
        margin-right: 20rem;
    }

    .product-border-2 {
        padding-bottom: 1.5rem;
        padding-top: 1rem;
    }

    .add_product,
    .edit_product {
        max-width: 50rem !important;
    }

    .myprofilepage {
        max-width: 55rem;
        margin: auto !important;
    }

    .carousel-control-next {
        right: 85px !important;
    }

    .carousel-control-prev {
        left: -5px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .product-detail {
        justify-content: center !important;
        padding-left: 0rem !important;
    }

    .details {
        margin-right: 10rem;
    }

    .add_product,
    .edit_product {
        max-width: 50rem !important;
    }

    .myprofilepage {
        max-width: 50rem;
        margin: auto !important;
    }

    .product-border-2 {
        padding-bottom: 2rem;
    }


}

@media(max-width: 1024px) {
    #new-arrivals-link {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }

    .add_product,
    .edit_product {
        margin: auto;
        padding-left: 15rem !important;
        padding-right: 15rem !important;
    }

    .hero-image {
        padding-left: 5.5rem;
        padding-right: 6rem;
    }

    .card-img-top-1 {
        width: 430px !important;
        margin-left: 0rem;
    }

    .cart {
        padding: 1rem;
        max-width: 60rem !important;
    }

}

@media(max-width: 768px) {

    .add-bag {
        margin-top: 0rem !important;
        margin-left: -9.5rem !important;
        padding: 0.9rem 1.3rem !important;
    }

    .form-row {

        align-items: flex-start !important;

    }

    .book-title {
        font-size: 1.5rem !important;
    }

    .book-author {
        font-size: 0.8rem;
    }

    .content {
        font-size: 0.8rem;
    }

    .product-detail {
        padding: 1rem !important;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center !important;
    }

    .details {
        display: flex;
    }

    .quantity-input,
    .quantity-btn {
        height: 35px;
    }

    #new-arrivals-link {
        margin-left: -3rem !important;

    }

    .details {
        margin-bottom: -1rem;
    }

    .order-success {
        padding: 0 !important;
    }

    .sort-select-wrapper {
        width: 100px;

    }

    .add_product,
    .edit_product {

        max-width: 30rem !important;
        padding: 1rem !important;
    }

    .hero-image {
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .card-img-top-1 {
        width: 280px !important;
        margin-left: 1rem !important;
    }

    .content {
        padding-bottom: 3rem;
    }

    .cart {
        max-width: 45rem !important;

    }

    #payment-form {
        background-color: transparent !important;
    }

    .message-container {
        position: absolute;
        top: 140px !important;
        z-index: 99999999999;
        right: 31.5rem !important;
    }

    .cart-img {
        max-width: 110px !important;
    }
}

@media(max-width: 430px) {

    .add-bag {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        margin-left: 5rem !important;
    }

    .product-detail {
        padding-right: 1rem !important;
        display: flex;
        flex-wrap: wrap !important;
        justify-content: space-around;
        align-items: stretch;
        flex-direction: column;
    }


    .book-title {
        font-size: 1.2rem !important;
    }

    .book-author,
    .tag-2 {
        font-size: 0.9rem !important;
    }

    .tag {
        margin-bottom: -0.5rem;
        border-radius: 0;
    }

    .keep-shopping-cart {
        margin-bottom: 3rem !important;
        margin-left: 4.5rem !important;

    }

    .details {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 1rem;
        align-content: flex-start;
        flex-direction: row;
    }

    .form-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: nowrap;
        margin-right: -5px;
        /* margin-left: -2rem; */
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
    }

    .input-group {

        width: 100%;
        justify-content: center;
    }

    .quantity-btn {
        height: 38px;
    }

    .add-bag {
        margin-left: 5rem !important;
    }

    .order-success {
        padding: 0.5rem !important;
    }

    .price-summary {
        text-align: left !important;
    }

    .sort-select-wrapper {
        width: 80px;

    }

    .order-md-first p {
        font-size: 0.9rem;
    }

    .add_product,
    .edit_product {
        margin: auto;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .card-img-top-1 {
        width: 350px !important;
        margin: auto !important;
    }


}

@media(max-width: 400px) {
    .add-bag {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        margin-left: 2rem !important;
        padding: 0.3rem 0.5rem !important;
    }

    .card-img-top-1 {
        width: 300px !important;
        margin: auto !important;
    }


    .message-container {
        position: static;
        top: 80px;
        right: 15px;
        z-index: 99999999999;
    }

    .add-bag {
        margin-left: 3.5rem !important;
    }

    .order-success {
        margin-left: -1rem !important;

    }

    .return-checkout {
        font-size: 0.8rem;
    }

    .product-detail {
        padding-left: 1rem !important;
        padding-right: 1rem !important;

    }

    .stock {
        width: 300px;
        margin-left: -1rem;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
}

@media(max-width:350px) {
    .add-bag {
        margin-left: 2rem !important;
    }

    .product-detail {
        padding: 0.4rem !important;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: rgb(115, 115, 115);

}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/*.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {

    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F65D4E;
    padding: 0.7rem 1.1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 50px;

     standard bootstrap btn transitions 
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}*/

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #706e6e;

}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.edit-delete-btn {
    border: 1px solid gray;
    padding: 0.1rem 0.3rem;
    margin-left: -1rem;
    font-size: 1rem;
    text-decoration: none !important;
    color: grey;
}

.edit-btn:hover {
    background-color: #6d8272;
    color: white;
    border: none;
}

.delete-btn:hover {
    background-color: #d4524e;
    color: white;
    border: none;
}

.cart-qty-btn {
    margin-top: -2rem;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .message-container {
        position: absolute;
        top: 130px;
        right: 15px;
        z-index: 99999999999;
    }

    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: flex-end !important;

    }

    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: flex-end;
        padding: 0.5rem 1.3rem;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
        margin-top: 2rem;
    }



}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 16px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .8rem;
        font-size: 1rem;
    }

    .account {
        padding-left: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }


    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

.free-delivery-banner {
    background-color: #9dc1eb;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    padding-top: 0.5rem;

}

#delivery-banner h4 {
    font-size: 1rem !important;
}


#new-arrivals-link {
    padding-left: 3rem;
    padding-right: 5rem;
}

.menu-item:hover,
#new-arrivals-link:hover {
    text-decoration: underline;
    text-decoration-color: #007bff;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    text-underline-offset: 17px;
}

.nav-item .dropdown-item-1 {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

.dropdown-item-2 {
    color: #212529;
}

.dropdown-item-1:hover,
.dropdown-item-2:hover {
    text-decoration: underline;
    text-decoration-color: #007bff;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    text-underline-offset: 2px;
    color: #000;
}

.product-container {
    margin: 0 auto;
}

.books-title a {
    text-decoration: none;
    color: black;
}

.card-footer {
    margin-left: -1rem;
    margin-top: 1rem;
}

.rating-book {
    margin-bottom: 0.4rem;
}

.main-logo-link {
    margin: 0 auto;
}


/* Footer */
.footer-dark {
    padding: 30px 0;
    background-color: #eee;

}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

.social a {
    text-align: center;
}

.social {
    padding-top: 1rem;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }


}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }

    #new-arrivals-link {
        padding-left: 0rem;
    }

    .nav-link {
        padding: 0.5rem;
    }

    .footer-dark .item.text p {
        opacity: 0.6;
        margin-bottom: 0;
    }

    .footer-dark .item.social {
        text-align: center;
        text-decoration: none;
    }
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(104, 96, 96, 0.4);
    margin: 0 8px;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

.social a {
    color: black;
}

/*** Porduct ***/
.book-image {
    border-radius: 0;
}

.sort-select-wrapper {
    padding-bottom: 1rem;
    width: 300px;

}

/**** Product detail page ***/
.product-detail {
    padding-left: 1rem !important;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 2rem !important;
    padding-left: 2rem !important;

}

.tag-2 {
    color: gray;
    border-radius: 0;
}


.bg-information {
    background-color: #cececeef;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0;
}

.tag-2:hover {
    color: #F65D4E !important;
    text-decoration: none;
    font-weight: 500;
}

.content {
    text-align: justify;
}

.in-stock {
    background-color: rgba(202, 232, 194, 0.575);
    text-align: center;
    padding: 0.3rem;

}

.stock {
    width: 300px;
    margin-left: -1rem;
    margin-bottom: 1rem;
    margin-top: -2.7rem;
}

.book-title {
    font-size: 1.9rem;
    margin-bottom: -2rem !important;
}

.book-price {
    padding-bottom: 1rem;
    font-size: 1.2rem
}

.price {
    margin-bottom: 1rem !important;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    margin-right: -5px;
    /* margin-left: -2rem; */
    align-items: flex-end;
    justify-content: space-between;
}

.keep-shopping-cart {
    background-color: rgb(189, 185, 185);
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    border-radius: 0;
}

.keep-shopping-cart:hover {
    background-color: #555;
    color: white;
}



.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
}

.card-img-top-1 {
    width: 350px;
    margin-left: 1rem;

}




.edit-delete-1,
.edit-delete-2 {
    font-size: 1rem !important;
    text-decoration: none !important;
}

.edit-delete-1:hover,
.edit-delete-1:focus {
    font-weight: 600;
}

.edit-delete-2:hover,
.edit-delete-2:focus {
    font-weight: 600;
}



/*** Profile ***/
.form-control {
    border: 1px solid rgb(220, 217, 217) !important;
}

.btn-file {
    background-color: #d3d3d3 !important;
}

.btn-file:hover {
    color: white;
    background-color: #535252d6 !important;
}

/*** search bar ***/

.searchbar-input {
    border: none !important;
    border-bottom: 1px solid rgb(190, 189, 189) !important;
}

.fa-search {
    color: gray;
    border: none !important;

}

.search-icon {
    border: none !important;
}

.dropdown-menu.show {
    display: flex;
    flex-direction: column;
}

.category-banner a {
    border: 1px solid rgb(86, 84, 84);
    color: black;
    padding: 0.2rem 0.4rem !important;
    border-radius: 0;
    margin-left: 0.5rem;
}

.category-banner a:hover {
    background-color: rgb(92, 90, 90);
    color: rgb(255, 255, 255);

}

/*** bag ***/
.empty-cart {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #edf2f8e2;

}

.cart-img {
    max-width: 200px;
}

.cart-bg {
    background-color: #edf2f8e2;
    padding-bottom: 2rem;
}

.cart {
    background-color: white;
    padding: 1rem;
    max-width: 70rem;
}

.pip {
    text-decoration: none !important;
    font-weight: 400;
}

.pip1 {
    color: rgb(206, 204, 204) !important;
}

.pip1:hover {
    color: #3577ad !important;
}

.pip2:hover {
    cursor: auto;
}

.pip3 {
    color: rgb(206, 204, 204) !important;
}

.pip3:hover {
    cursor: auto;
}


.cart-empty {
    font-weight: 400;
    font-size: 1.2rem;
}

.buttons {
    background-color: #000000;
    font-size: 1rem;
    color: white;
    display: inline-block;
    font-weight: 600;
    border-radius: 0;
    cursor: pointer;
    padding: 0.9rem 1rem;
    text-decoration: none;
    text-shadow: none;
    -webkit-appearance: none;
    line-height: 1.2857142857;
    border: none;
    color: #fff;
}

.buttons:hover {
    background-color: #969696;
    color: #fff;
}

.buttons-1 {
    font-size: 1rem;
    color: #000000;
    display: inline-block;
    font-weight: 600;
    border-radius: 0;
    cursor: pointer;
    padding: 0.8rem 1rem;
    text-decoration: none;
    text-shadow: none;
    -webkit-appearance: none;
    line-height: 1.2857142857;
    border: 1px solid #000000;
}

.buttons-1:hover {
    background-color: #969696;
    color: white;
}

.toast-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.25rem 0.75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    justify-content: flex-end !important;
}

.pipline {
    border-bottom: 1px solid #eee;

}

.qty_input-bag {
    max-width: 170px;
    height: 40px !important;
    border: none !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
}

.plus-btn,
.minus-btn {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 40px !important;
}

.plus-btn {
    border: none !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    border-right: 1px solid #eee !important;
}

.minus-btn {
    border: none !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    border-left: 1px solid #eee !important;
}

.total {
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #eee !important;
    border-top: 0;
    padding: 1rem;
}

.table td,
.table th {
    padding: 0.4rem 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eee;
}



/****** Register and login form ****/

.register-login-form {
    margin: auto;
    padding: 2rem 1rem;
}

.register-login-form h2 {
    text-align: center;
}

.form-quantity {
    height: 35px;
}

#account-exist {
    text-decoration: none;
}

#account-exist:hover {
    font-weight: 600;
}

.quantity-btn {
    border-radius: 0;
    border: none;
    height: 50px;
}

.qty_input {
    text-align: center;
}

.quantity-input {
    max-width: 30% !important;
    height: 50px;
    border-top: 1px solid rgb(220, 217, 217);
    border-bottom: 1px solid rgb(220, 217, 217);
    border-left: 0 !important;
    border-right: 0 !important;
}

.increment-qty {
    border-top: 1px solid rgb(220, 217, 217);
    border-right: 1px solid rgb(220, 217, 217);
    border-bottom: 1px solid rgb(220, 217, 217);
}

.decrement-qty {
    border-top: 1px solid rgb(220, 217, 217);
    border-left: 1px solid rgb(220, 217, 217);
    border-bottom: 1px solid rgb(220, 217, 217);
}

.add-bag {
    padding: 0.9rem 3rem !important;
    font-weight: 300 !important;
}

/*** toast success ****/
.chechout-btn {
    color: white;
    background-color: #000000;
    border-radius: 0;
    padding-top: 0.6rem;

}

.chechout-btn:hover {
    background-color: #5a5a5a;
    color: white;
}



.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-control-next {
    right: -5px;
}

.carousel-control-prev {
    left: -5px;
}

/************** Error page ********************/
.mainbox {
    background-color: #95c2de;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 5.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

.erro_page {
    text-decoration: none;
    color: white;
}

.erro_page:hover {
    text-decoration: underline;
}