@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.page-title {
    font-size: 1.8rem;
    border-bottom: 2px solid #6ba5c4;
    padding-bottom: 1rem;
}

.btn-brand-dark-outline {
    border: 1px solid #ced4da;
    border-radius: 5px;
    color: rgb(81, 81, 81);
    font-size: 0.9rem;
    height: 38px;
}

#sorting-selector {
    height: 38px;
    border-radius: 5px !important;
}

.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    width: 323px;
}

.fa-comment-dots {
    font-size: 1rem;
}

/* delete and edit buttons*/
.delete-edit-button {
    padding: 0.3rem 0.5rem;
    border: none;
}

.delete-edit-button a {
    color: rgb(0, 0, 0);
}

.delete-edit-button a:hover,
.delete-edit-button a:focus {
    color: white;
}

.edit a:hover {
    background-color: #6d8272 !important;
}

.delete a:hover {
    background-color: #d4524e;
}

.update-btn button {
    margin-left: -1rem;
}

.admin-link-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 1rem;
}

.details-event {
    font-size: 0.9rem;
}

.event-description p {
    font-size: 0.91rem !important;
    padding-top: 0.5rem;
    text-align: justify !important;
    margin-bottom: -0.5rem;
}

.superadmin {
    font-size: 0.9rem;
}

.details-event {
    margin-bottom: 0.5rem !important;
}

.date {
    margin-right: 1rem;
}

.time {
    margin-left: 1rem;
}

.card-title {
    font-size: 1.3rem;
}

.event-summary {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

@media(max-width:768px) {
    #filterByCounty {
        margin-bottom: 1rem !important;
        margin-top: 1rem;
    }
}

@media(max-width:375px) {
    .event-name h1 {
        margin-top: 1rem !important;
    }
}