<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">All Books</a>
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item ">By Rating</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="#" class="dropdown-item">Romance</a>
                <a href="#" class="dropdown-item">Mystery</a>
                <a href="#" class="dropdown-item">Fiction</a>
                <a href="#" class="dropdown-item">Nonfiction</a>
                <a href="#" class="dropdown-item">Young Adult</a>
                <a href="#" class="dropdown-item">Classics</a>
                <a href="#" class="dropdown-item">Fantasy</a>
                <a href="#" class="dropdown-item">Thriller</a>
                <a href="#" class="dropdown-item">History</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Irish Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="#" class="dropdown-item">Irish Fiction</a>
                <a href="#" class="dropdown-item">Irish Non-Fiction</a>
                <a href="#" class="dropdown-item">Irish True Crime</a>
                <a href="#" class="dropdown-item">Irish Classics</a>
                <a href="#" class="dropdown-item">All Irish Books</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item">New Arrivals</a>
                <a href="#" class="dropdown-item">Deals</a>
                <a href="#" class="dropdown-item">All
                    Specials</a>
            </div>
        </li>
    </ul>
</div>