{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="403 page on the House of Books site">
<meta name="keywords"
    content="books, romance, thriller, irish books, adventure, mystery, irish true crime, irish classics" href="">
<!-- Facebook, LinkedIn, Google -->
<meta property="og:title" name="title" content="Houseofbooks" />
<meta property="og:description" content="403 page on the House of Books site" />
<meta property="og:url" content="https://houseofbooks22.herokuapp.com/" />
{% endblock %}

{% block extra_js %}
<!-- uni-form jquery  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/4.3.0/js/jquery.uniform.bundled.js"></script>
{% endblock %}

{% block extra_title %} 403 {% endblock %}

{% block content %}

<div class="mainbox text-center" style="background-color: #9dc1eb88; padding:7rem;">
    <p class="err" style="font-size: 5rem;">4
        <i class="far fa-question-circle fa-spin"></i>
        <span class="err2">3</span></p>
    <p class="msg">You don't have access to this page!</p>
    <div><a href="{% url 'products' %}" class="erro_page">Click here</a> and go back to the home page</div>
</div>

{% endblock %}