{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="403 page on the House of Books site">
<meta name="keywords"
    content="books, romance, thriller, irish books, adventure, mystery, irish true crime, irish classics" href="">
<meta property="og:title" name="title" content="Houseofbooks" />
<meta property="og:description" content="404 page on the House of Books site" />
<meta property="og:url" content="https://houseofbooks22.herokuapp.com/" />
{% endblock %}


{% block extra_title %} 404 {% endblock %}

{% block content %}

<head>
    <!-- Enter your title of the page -->
    <title>404 - Page not found</title>
    <!-- Link the CSS posted below to this page, change the href -->
    <link rel="stylesheet" href="/404.css">
    <!--  Enter your website icon -->
    <link rel="icon" href="YOUR_WEBSITE_ICON_LINK">
    <!-- This one is very important, don't skip this part! -->
    <base href=""> <!-- Enter your website URL here -->

    <!-- Just some important metas, you can ignore these -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- If you want to learn more about them then visit https://www.w3schools.com/tags/tag_meta.asp -->
</head>
<main style="background-color: #9dc1eb88;">
    <center>
        <br /><br /><br />
        <h1>404 - Page not found!</h1>
        <p>Oops! Itseems like you're lost, let me help you find your way back home! :)<br />
            The following problems could be the case:<br><br>
            • The link is broken<br />
            • This page never existed<br />
            • This page has been removed<br /><br /><br /></p>
        <button class="buttons text-white"><a href="{% url 'home' %}">Click here to go back home</a></button>
        <br /><br /><br />
    </center>
</main>

{% endblock %}