{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="404 page on the House of Books site">
<meta name="keywords"
    content="books, romance, thriller, irish books, adventure, mystery, irish true crime, irish classics" href="">
<!-- Facebook, LinkedIn, Google -->
<meta property="og:title" name="title" content="Houseofbooks" />
<meta property="og:description" content="404 page on the House of Books site" />
<meta property="og:url" content="https://houseofbooks22.herokuapp.com/" />
{% endblock %}

{% block extra_js %}
<!-- uni-form jquery  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/4.3.0/js/jquery.uniform.bundled.js"></script>
<script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_title %} 404 {% endblock %}

{% block content %}

<div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Ops! It seems you got lost<p>Return to the<a href="{% url 'products' %}" class="erro_page"> home
                page</a> and try from there.</p>
    </div>
</div>

{% endblock %}