{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="403 page on the House of Books site">
<meta name="keywords"
    content="books, romance, thriller, irish books, adventure, mystery, irish true crime, irish classics" href="">
<meta property="og:title" name="title" content="Houseofbooks" />
<meta property="og:description" content="404 page on the House of Books site" />
<meta property="og:url" content="https://houseofbooks22.herokuapp.com/" />
{% endblock %}


{% block extra_title %} 404 {% endblock %}

{% block content %}
<div class="container-fluid  text-center" style="background-color: #9dc1eb88; padding:7rem;">
    <div class="mainbox">
        <p class="err" style="font-size: 5rem;">4
            <i class="far fa-question-circle fa-spin"></i>
            <span class="err2">4</span></p>
        <div class="msg">Ops! It seems you got lost<p>Return to the<a href="{% url 'products' %}" class="erro_page">
                    home
                    page</a> and try from there.</p>
        </div>
    </div>
</div>

{% endblock %}