{% load static %}

<!doctype html>
<html lang="en">


<head>

    {% block meta %}
    <!-- meta tags  -->

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The House of Books: Small indenpende bookstore located in the heart of Dublin.">
    <meta name="keywords"
        content="books, romance books, thriller books, irish books, classic books, fiction, nonfiction books, house of book irish true crime books, literature">

    <!-- end meta tags  -->
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="https://pics.freeicons.io/uploads/icons/png/4308435971543238863-512.png">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <a href="https://www.flaticon.com/free-icons/trash" title="trash icons"></a>
    <script src="https://kit.fontawesome.com/2f0a37c469.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>House of Books {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid">
        <div id="delivery-banner" class="row text-center">
            <div class="col text-white free-delivery-banner">
                <h4>Get free delivery on orders over €{{ free_delivery_threshold }}!</h4>
            </div>
        </div>

        <div id="topnav" class="row pt-lg-3 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-right">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100 searchbar-field">
                        <input class="form-control rounded-0 searchbar-input" type="text" name="q" placeholder="SEARCH">
                        <div class="input-group-append">
                            <button class="form-control btn rounded-0 border-0 search-icon" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center">
                <a href="{% url 'home' %}" class="nav-link main-logo-link main-logo">
                    <h2 class="text-black my-0 logo-title text-right"><strong><img
                                src="https://cdn-icons-png.flaticon.com/512/1164/1164620.png" width="35" height="auto"
                                alt="book icon"> House</strong> of
                        <strong>Books</strong></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0 account-icons ">
                    <li class="list-inline-item dropdown account-cart">

                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <p class="my-0">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077063.png"
                                        alt="account-icon" width="25px"> Account
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'my_events' %}" class="dropdown-item">My Club Events</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item account-cart">
                        <a class="{% if grand_total %} basket font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <p class="my-0">
                                    <img src="https://cdn-icons-png.flaticon.com/512/743/743131.png" alt="bag icon"
                                        width="25px">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    <!-- to display error/info/warning/success messages for user actions -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- page footer for all pages -->
    {% block content_footer %}
    <footer>
        <!-- container for footer grid - two rows -->
        <div class="pt-5 pb-2 container-fluid bg-black">
            <!-- row to hold social links, useful links + newsletter sign up -->
            <div class="row pb-4 justify-content-md-center">
                <!-- social media links section-->
                <div class="col-12 col-md-6 col-lg-3 text-center">
                    <h5 class="sm-heading">Connect with us</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <!-- note this link may no longer work as the account has been disabled by FB -->
                            <a href="https://www.facebook.com" target="_blank" rel="noopener"
                                aria-label="Visit our Facebook page. Link opens in new tab" class="footer-link"><i
                                    class="fab fa-facebook-f center" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://instagram.com" target="_blank" rel="noopener"
                                aria-label="Visit our Instagram page. Link opens in new tab" class="footer-link"><i
                                    class="fab fa-instagram center" aria-hidden="true"></i></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com" target="_blank" rel="noopener"
                                aria-label="Visit our Twitter page. Link opens in new tab" class="footer-link"><i
                                    class="fab fa-twitter-square center" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.pinterest.com/" target="_blank" rel="noopener"
                                aria-label="Visit our Pinterest page. Link opens in new tab" class="footer-link"><i
                                    class="fab fa-pinterest center" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- end of social links column -->
                <!-- Useful links column: terms of use + privacy policy links -->
                <div class="col-12 col-md-6 col-lg-3 text-center mt-3 mt-md-0">
                    <h5 class="sm-heading">Useful links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'terms' %}" data-toggle="modal" class="footer-link">Terms of use</a>
                        </li>
                        <li>
                            <a href="{% url 'privacy' %}" data-toggle="modal" class="footer-link">Privacy policy</a>
                        </li>
                    </ul>
                </div>
                <!-- end of useful links column -->
                <!-- newsletter sign up column - Mailchimp embedded form -->
                <div id="mc_embed_signup" class="col-12 col-md-10 col-lg-6 mt-4 mt-lg-0 px-4">
                    <h5 class="sm-heading text-center">Sign up to our newsletter</h5>
                    <p class="font-90 m-0">Be the first to hear about our new books, book club events and much more!</p>
                    <form
                        action="https://herokuapp.us14.list-manage.com/subscribe/post?u=1beeb9fe77b2622a8021637d3&amp;id=afabe6fb17"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                        class="validate brand-form" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="form-row">
                                <div class="col-12 col-sm-8">
                                    ---
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL" class="sr-only">Email Address</label>
                                        <input type="email" value="" name="EMAIL"
                                            class="required email newsletter-form-input w-100" id="mce-EMAIL"
                                            placeholder="Email address">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 mt-2 mt-sm-0">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="button btn btn-newsletter w-100">
                                </div>
                            </div>
                            <!-- mailchimp containers for error or success msgs -->
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_1beeb9fe77b2622a8021637d3_afabe6fb17" tabindex="-1" value="">
                            </div>
                            <!-- mailchimp credit for form -->
                            <div class="form-row flex-row-reverse mx-0">
                                <div class="clear foot col-4 mt-2 pr-0 pl-1">
                                    <p class="brandingLogo mb-0"><a href="http://eepurl.com/hZys35" target="_blank"
                                            rel="nofollow" title="Mailchimp - emailing made easy and fun"><img
                                                src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"
                                                alt="bage stating made with mailchimp, and mailchimp logo"
                                                class="img-fluid"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end of newsletter sign up column -->
            </div>
            <!-- end of row with social links, useful links + newsletter sign up -->
            <!-- row for copyright info -->
            <div class="row footnote text-center mt-4">
                <div class="col">
                    <p>
                        <span>&copy; <a href="https://github.com/biareiam" target="_blank" rel="noopener"
                                class="footer-link">Beatriz Amorim</a> 2022. Site created for educational purposes.
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- end of footer container -->
    </footer>

    {% endblock %}


    {% block postloadjs %}
    <!-- specific page scripts that need to load at end of body -->
    <script>
        // call Bootstrap toast method with show option on all elements with class toast
        $(".toast").toast("show");
    </script>
    <!-- Mailchimp embedded form script -->
    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <!-- Mailchimp embedded form script -->
    <script>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    {% endblock %}
</body>

</html>